 @import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=Oswald&family=Outfit:wght@400;700&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Outfit, sans-serif;
    background-color:hsl(212, 45%, 89%);
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    background-color: hsl(0, 0%, 100%);
    width: 20%;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 20px 20px 5px 20px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.container img{
    border-radius: .75rem;
}
.container h3{
    font-weight: 700;
    text-align:center;
}
.container p{
    font-weight: 400;
    text-align:center;
    color: hsl(220, 15%, 55%);

}
